body {
  color:#A9A9A9;
  font-size:15pt;
  font-family:"BankGothic";
  background:black;
}

.container {
  margin:30px;
}

h1 {
  letter-spacing:2px;
  padding-bottom:6px;
}

.colored {
  color:rgb(0, 255, 0);
}

.center {
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

.column {
  float: left;
}

.columnRight {
  float: right;
}

.clearfix:after {
 display:block;
 clear:both;
 height:0;
 content:"";
}

table {
  border-collapse:collapse;
}

.resultsTable {
  width: 600px;
}

.resultsTable thead td {
  font-weight:bold;
  padding-top:8px;
  padding-bottom:8px;
  border-bottom:1px solid #A9A9A9;
}

.resultsTable td {
  border-right:1px solid #A9A9A9;
  padding-left:8px;
  padding-right:8px;
}

.name {
  text-align:left;
}

.resultsTable .lastColumn {
  border-right:none;
}
